<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue-router.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<!--5.路由信息-->
			<router-link to="/mylist">列表</router-link>
			<router-link to="/myitem">内容</router-link>
			<!--6.路由出口-->
			<router-view></router-view>
		</div>
		<script type="text/javascript">
			/************1.组件*********************/
			var mylist = {
				data:function(){
					return{
						list:[]
					}
				},
				template:`<div>列表页
					<ul>
						<li v-for="(item,index) in list">
						<router-link :to="'/myitem/'+item.productId">{{item.proTitle}}</router-link>
						</li>
					</ul>
				</div>`,
				mounted:function(){
					axios.post("http://www.51houniao.com/product/product/getProductRecommendUser",{
						desc: false,
						orderBy: "top",
						pageNow: 1,
						pageSize: 20,
						seller_user_id: "4bc4027c645343f09a964b5c2e9f875b"
					}).then((res)=>{
						console.log(res);
						this.list = res.data;
					})
				},
			}
			var myitem = {
				data:function(){
					return {
						item:{}
					}
				},
				template:`<div>内容页
				产品id：{{$route.params}}
				产品标题：<span v-if="item.product_base_info !== undefined">{{item.product_base_info.pro_title}}</span>
				<div v-if="item.product_base_info !== undefined">
					<img :src="item.product_base_info.pro_pic_url" />
				</div>
				</div>`,
				watch:{
					'$route'(to,from){}
				},
				mounted:function(){
					//获取内容页数据
					axios.get("http://www.51houniao.com/product/product/getProductDetails/"+this.$route.params.idvalue
						).then((res)=>{
						console.log(res);
						this.item = res.data;
					})
				}
			}
			
			/*********2.配置路由表***************************/
			var routes = [
				{"path":"/mylist","component":mylist},
				{"path":"/myitem/:idvalue","component":myitem} 
			]
			/********3.创建路由对象****************************/
			var router = new VueRouter({
				routes:routes
			})
			
			var vm = new Vue({
				el:"#app",
				data:{
				},
				router:router//4.注册
			})
		</script>
	</body>
</html>
